<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>ntfy</string>
	<key>CFBundleName</key>
	<string>ntfy</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2025 Rimskij Papa</string>
	<key>NSSupportsLiveActivities</key>
	<false/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>SendNtfyMessageIntent</string>
		<string>SnoozeNotificationsIntent</string>
	</array>
</dict>
</plist>